<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>薬剤追加</title>
</head>
<body>
    <h1>薬剤追加</h1>
    <form method="post" action="{% url 'kusuri_tuika' %}">
        {% csrf_token %}
        <label for="medicinename">薬剤名:</label>
        <input type="text" id="medicinename" name="medicinename" required>
        <br><br>
        <label for="unit">単位:</label>
        <input type="text" id="unit" name="unit">
        <br><br>
        <input type="submit" value="追加">
    </form>
    <button onclick="window.location.href='{% url 'isya_login' %}'">メニューに戻る</button>
</body>
</html>
